@font-face {
    font-family: "Rastanty";
    src: url("./fonts/Rastanty\ Cortez.ttf");
  }

  h1 { 
    font-family: "Rastanty", serif;
    font-size: 85px;
}

.hero-banner img {
width: 100%;
}
.header img {
    width: 200px;
}

.border-r {
    border-right: 1px solid #666;
}
.d-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-peru {
    color: peru;
}

.line-c {
    margin: 30px 0 50px 0;
    text-align: center;
    width: 20%;
    border-bottom: 1px solid peru;
}

.flores2 img {
    width: 200px;
}
.flores2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-agenda {
    text-decoration: none;
    color: #666;
}
.btn-agenda span {
    height: 200%;
}

.lista-regalos {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 30px;
    border: 1px solid #666;
    margin: 0 auto;
}