@font-face {
    font-family: "Rastanty";
    src: url("./fonts/Rastanty\ Cortez.ttf");
  }

  @font-face {
    font-family: "mk-serif";
    src: url("./fonts/MaryKaySerif100-Light.otf");
  }
  @font-face {
    font-family: "mk-sans-bold";
    src: url("./fonts/MaryKaySans-Bold.otf");
  }

  .h1-d { 
    font-family: "Rastanty", serif;
    font-size: 120px;
    margin: -40px 0;
}

.h2-d { 
    font-family: "Rastanty", serif;
    font-size: 100px;
}

.h2 {
    font-family: "mk-serif", serif;
    font-weight: 700;
   
}

body {
    color: rgb(30, 30, 30);
}

.btn-secondary {
    background-color: #9a8784;
}

.hero-banner img {
width: 100%;
}
.header img {
    width: 300px;
}

#agenda > div > div.flores-2 > img {
    width: 250px;
}

.border-r {
    border-right: 1px solid #9a8784;
}
.d-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#agenda > div > div.text-center > h1 > br:nth-child(1), #agenda > div > div.text-center > h1 > br:nth-child(2) {
    display: none;
}

.color-peru {
    color: #9a8784;
}

.line-c {
    margin: 40px 0 20px 0;
    text-align: center;
    width: 10%;
    border-bottom: 1px solid #9a8784;
}

.line-c2 {
    margin: 50px 0 40px 0;
    text-align: center;
    width: 10%;
    border-bottom: 1px solid #9a8784;
}

.flores2 img {
    width: 250px;
}
.flores2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flores2 img {
    transform: rotate(180deg);

}

.fw-500 {
    font-weight: 500;
}

.flores-2 {
    display: flex;
    justify-content: start;
    transform: rotate(180deg);
}
.agenda {
    position: relative;
}
.flor2, .flor1 {
    position: absolute;
}
.flor2 {
    left: -100px;
    top: 50%;
    transform: rotate(-90deg);
    width: 400px;
    z-index: -99;
}

.flor1 {
    right: -110px;
    top: 10%;
    transform: rotate(90deg);
    width: 300px;
    z-index: -99;
}
.btn-agenda {
    text-decoration: none;
    color: #666;
}
.btn-agenda span {
    height: 200%;
}

.lista-regalos {
    display: none;
}

.ecommerce p {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 30px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 auto;
}

.m-w {
    margin: 0 20px;
}

.img-cover {
    width: 400px;
}



#listaRegalos > section.ecommerce > div > div > button {
    font-size: 1.5rem;
}

@media (max-width: 728px) {
  
    .flor2 {
        width: 100%;
    top: 60%;

    }
    
    .flor1 {
        width: 100%;
    }
    #agenda > div > div.text-center > h1 > br:nth-child(1), #agenda > div > div.text-center > h1 > br:nth-child(2) {
        display: inline;
    }
    .ecommerce p {
        font-size: 12px;
    }
  
  }

