@font-face {
    font-family: "Rastanty";
    src: url("./fonts/Rastanty\ Cortez.ttf");
}

@font-face {
    font-family: "mk-serif";
    src: url("./fonts/MaryKaySerif100-Light.otf");
}


.h1-d {
    font-family: "Rastanty", serif;
    font-size: 120px;
    margin: -40px 0;
}

.h2-d {
    font-family: "Rastanty", serif;
    font-size: 100px;
}

.h2v {
    font-family: "mk-serif", serif;
    font-weight: 700;

}

.hv-t {
    font-family: "mk-serif", serif;
    font-weight: 700;

}

.h2-t {
    font-family: "mk-serif", serif;
    font-weight: 700;

}

body {
    color: rgb(30, 30, 30);
}

.btn-secondary {
    background-color: #9a8784;
}

.hero-banner img {
    width: 100%;
}

.header img {
    width: 300px;
}

#agenda>div>div.flores-2>img {
    width: 250px;
}

.border-r {
    border-right: 1px solid #9a8784;
}

.d-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#agenda>div>div.text-center>h1>br:nth-child(1),
#agenda>div>div.text-center>h1>br:nth-child(2) {
    display: none;
}

.color-peru {
    color: #9a8784;
}

.line-c {
    margin: 40px 0 20px 0;
    text-align: center;
    width: 10%;
    border-bottom: 1px solid #9a8784;
}

.line-c2 {
    margin: 50px 0 40px 0;
    text-align: center;
    width: 10%;
    border-bottom: 1px solid #9a8784;
}

.flores2 img {
    width: 250px;
}

.flores2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flores2 img {
    transform: rotate(180deg);

}

.fw-500 {
    font-weight: 500;
}

.flores-2 {
    display: flex;
    justify-content: start;
    transform: rotate(180deg);
}

.agenda {
    position: relative;
}

.flor2,
.flor1 {
    position: absolute;
}

.flor2 {
    left: -100px;
    top: 50%;
    transform: rotate(-90deg);
    width: 400px;
    z-index: -99;
}

.flor1 {
    right: -110px;
    top: 10%;
    transform: rotate(90deg);
    width: 300px;
    z-index: -99;
}

.btn-agenda {
    text-decoration: none;
    color: #666;
    font-size: 1.25rem;
}

.btn-agenda span {
    height: 200%;
}

.btn-agenda-m {
    display: none;
}

.lista-regalos {
    display: none;
}
#btnAgenda > img {
    width: 20px;
}

.ecommerce p {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 30px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 auto;
}

.m-w {
    margin: 10px 200px;
}

.img-cover {
    width: 400px;
}

#listaRegalos>section.ecommerce>div>div>button {
    font-size: 1.5rem;
}

.h1-m {
    display: none;
}

.img-footer {
    width: 300px;
    display: flex;
    justify-content: end;
}

.fs3 {
    font-size: 1.75rem;
    font-family: "mk-serif", serif;

}
.fs3-t {
    font-size: 1.75rem;
    line-height: 32px;

}

.fs4 {
    font-size: 1.5rem;
}

.fs5 {
    font-size: 1.25rem;
}

@media (max-width: 728px) {

    .fs3, .h2v {
        font-size: 1.1rem;
        font-weight: 900;
    font-family: "mk-serif", serif;
    }

    .hv-t {
        font-size: 1rem;
        font-weight: 900;
    font-family: "mk-serif", serif;
    }

    .fs3-t {
        font-size: 14px;
        line-height: 16px;
    }

    .fs4 {
        font-size: 0.9rem;
        font-weight: 640;
    }
    .ecommerce .fs4 {
        font-weight: 500;
    }
    .fs5 {
        font-size: 0.9rem;
    }
    .fsbtn {
        font-size: 1rem;
    }

    .ecommerce {
        margin-top: -45px;
    }

    #agenda > section.agenda.text-center > div.d-f > div.row.justify-content-between.align-content-center.mt-3 > div > p.fs3.text-uppercase.color-peru.mb-3.h2v, #agenda > section.agenda.text-center > div.d-f > h1:nth-child(12) {
        margin-top: -15px;
        margin-bottom: 0;
    }

    .h1-m {
        display: inline;
        font-family: "Rastanty", serif;
        font-size: 65px;
        margin: 0;
        line-height: 40px;
    }

    .h1-m br {
        margin-top: -50px;
    }

    .h1-d {
        display: none;
    }

    .header img {
        width: 150px;
        margin-left: -15px;
    }


    #agenda>div>div.flores-2>img {
        width: 130px;
    }
    #agenda > section.hero-banner {
        margin-top: -10px;
    }

    #agenda > section.hero-banner > img {
            padding: 0;
    }

    .h2 {
        font-size: 16px;
        font-weight: bolder;
    }

    .fs-3 {
        font-size: 12px;
    }

    .line-c2 {
        margin: 30px 0 40px 0;
    }

    .h2-d {
        font-size: 50px;
    }

    .flor2 {
        width: 57%;
        top: 60%;
        left: -78px;

    }

    .d-f {
        margin-top: -20px;
    }
    .flor1 {
        width: 50%;
    right: -85px;
    }

    #agenda>div>div.text-center>h1>br:nth-child(1),
    #agenda>div>div.text-center>h1>br:nth-child(2) {
        display: inline;
    }

    .m-w {
        margin: 0px 20px;
    }

    .btn-agenda {
        font-size: 0.8rem;
        margin-left: 10px;
    }

  

    #btnAgenda > img {
        width: 10px;
    }

    .btn-agenda-m span {
        height: 200%;
    }

    .ecommerce p {
        font-size: 14px;
    }

    .img-cover {
        width: 100%;
    }

    #listaRegalos>section.ecommerce>div>div>button {
        font-size: 1rem;
    }

    .img-footer {
        width: 40%;
        display: flex;
        justify-content: end;
    }

    .flores2 {
        padding-top: 20px;
    }

    .flores-2 {
        padding: 10px;
    }

}